*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
.galleryImgDiv{
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}
.galleryImg{
    height: 470px;
    width: 470px;
    margin: 40px;
}