*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}


.supportDiv{
    height: auto;
    width: 330px;
    background-color: rgb(255, 0, 0);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.activeNav{
    text-decoration: underline;
    color: rgb(102, 76, 76);
    transition: .5s;
}
.supportDiv > a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    transition: .3s;
}
.supportDiv > h4 {
    font-size: 23px;
}